html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    background-color:#1c4170;
    color: #fff;
    font-family: Arial;
}

a {
    text-decoration: none;
    color: #aaa;
}
/* -- body -- */

.skin {
    background-color: #a7a5aa;
    border: 5px solid #000000;
}

/* -- head -- */

@-moz-keyframes wholeHead {
    0% { top: -30px; left: 0; }
    24.99% { top: -30px; left: 0;}
    25% { top: -20px; left: 10px; }
    49.99% { top: -20px; left: 10px; }
    50% { top: -10px; left: 0; }
    74.99% { top: -10px; left: 0; }
    75% { top: -20px; left: -10px; }
    99.99% { top: -20px; left: -10px;}
    100% { top: -30px; left: 0;}
}

@-webkit-keyframes wholeHead {
    0% { top: -30px; left: 0; }
    24.99% { top: -30px; left: 0;}
    25% { top: -20px; left: 10px; }
    49.99% { top: -20px; left: 10px; }
    50% { top: -10px; left: 0; }
    74.99% { top: -10px; left: 0; }
    75% { top: -20px; left: -10px; }
    99.99% { top: -20px; left: -10px;}
    100% { top: -30px; left: 0;}
}

@-ms-keyframes wholeHead {
    0% { top: -30px; left: 0; }
    24.99% { top: -30px; left: 0;}
    25% { top: -20px; left: 10px; }
    49.99% { top: -20px; left: 10px; }
    50% { top: -10px; left: 0; }
    74.99% { top: -10px; left: 0; }
    75% { top: -20px; left: -10px; }
    99.99% { top: -20px; left: -10px;}
    100% { top: -30px; left: 0;}
}

@-o-keyframes wholeHead {
    0% { top: -30px; left: 0; }
    24.99% { top: -30px; left: 0;}
    25% { top: -20px; left: 10px; }
    49.99% { top: -20px; left: 10px; }
    50% { top: -10px; left: 0; }
    74.99% { top: -10px; left: 0; }
    75% { top: -20px; left: -10px; }
    99.99% { top: -20px; left: -10px;}
    100% { top: -30px; left: 0;}
}

@keyframes wholeHead {
    0% { top: -30px; left: 0; }
    24.99% { top: -30px; left: 0;}
    25% { top: -20px; left: 10px; }
    49.99% { top: -20px; left: 10px; }
    50% { top: -10px; left: 0; }
    74.99% { top: -10px; left: 0; }
    75% { top: -20px; left: -10px; }
    99.99% { top: -20px; left: -10px;}
    100% { top: -30px; left: 0;}
}

#wholeHead {
    position: absolute;
    top: -40px;
    left: -30px;
    z-index: 50;
}

#wholeHead img {
    position: absolute;
    width: 350px;
    -webkit-animation: wholeHead 0.4s linear 0s infinite;
       -moz-animation: wholeHead 0.4s linear 0s infinite;
        -ms-animation: wholeHead 0.4s linear 0s infinite;
         -o-animation: wholeHead 0.4s linear 0s infinite;
            animation: wholeHead 0.4s linear 0s infinite;
}

#wholeHead img.sixteen-bit {
    visibility: hidden;
}


#mainHead {
	width: 400px;
	height: 175px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	position:absolute;
	z-index: 20;
	top: 48px;
	left: 410px;
}


/* -- RAINBOW -- */
@-moz-keyframes rainbow1 {
    0% { -moz-transform: translateY(0px); }
    49.99% { -moz-transform: translateY(0px); }
    50% { -moz-transform: translateY(10px); }
    99.99% { -moz-transform: translateY(10px); }
    100% { -moz-transform: translateY(0px); }
}

@-webkit-keyframes rainbow1 {
    0% { -webkit-transform: translateY(0px); }
    49.99% { -webkit-transform: translateY(0px); }
    50% { -webkit-transform: translateY(10px); }
    99.99% { -webkit-transform: translateY(10px); }
    100% { -webkit-transform: translateY(0px); }
}

@-moz-keyframes rainbow2 {
    0% { -moz-transform: translateY(10px); }
    49.99% { -moz-transform: translateY(10px); }
    50% { -moz-transform: translateY(0px); }
    99.99% { -moz-transform: translateY(0px); }
    100% { -moz-transform: translateY(10px); }
}

@-webkit-keyframes rainbow2 {
    0% { -webkit-transform: translateY(10px); }
    49.99% { -webkit-transform: translateY(10px); }
    50% { -webkit-transform: translateY(0px); }
    99.99% { -webkit-transform: translateY(0px); }
    100% { -webkit-transform: translateY(10px); }
}


@-ms-keyframes rainbow1 {
    0% { -ms-transform: translateY(0px); }
    49.99% { -ms-transform: translateY(0px); }
    50% { -ms-transform: translateY(10px); }
    99.99% { -ms-transform: translateY(10px); }
    100% { -ms-transform: translateY(0px); }
}

@-o-keyframes rainbow1 {
    0% { -o-transform: translateY(0px); }
    49.99% { -o-transform: translateY(0px); }
    50% { -o-transform: translateY(10px); }
    99.99% { -o-transform: translateY(10px); }
    100% { -o-transform: translateY(0px); }
}

@-ms-keyframes rainbow2 {
    0% { -ms-transform: translateY(10px); }
    49.99% { -ms-transform: translateY(10px); }
    50% { -ms-transform: translateY(0px); }
    99.99% { -ms-transform: translateY(0px); }
    100% { -ms-transform: translateY(10px); }
}

@-o-keyframes rainbow2 {
    0% { -o-transform: translateY(10px); }
    49.99% { -o-transform: translateY(10px); }
    50% { -o-transform: translateY(0px); }
    99.99% { -o-transform: translateY(0px); }
    100% { -o-transform: translateY(10px); }
}

@keyframes rainbow1 {
    0% { transform: translateY(0px); }
    49.99% { transform: translateY(0px); }
    50% { transform: translateY(10px); }
    99.99% { transform: translateY(10px); }
    100% { transform: translateY(0px); }
}

@keyframes rainbow2 {
    0% { transform: translateY(10px); }
    49.99% { transform: translateY(10px); }
    50% { transform: translateY(0px); }
    99.99% { transform: translateY(0px); }
    100% { transform: translateY(10px); }
}

.rainbow {
    position: absolute;
    z-index: 15;
    white-space: nowrap;
    right: -85px;
}

.rainbow > div {
    display: inline-block;
    width: 90px;
    height: 180px;
    background: linear-gradient(top, #d91a12 15%, #e13300 15%, #ff7f14 16%, #f2ab03 32%, #ebc000 32%, #fade00 33%, #efff03 48%, #56fc02 49%, #52ff01 66%, #4ade7e 67%, #3baaf2 67%, #3baaf2 84%, #7337f7 84%, #6b40f2 100%); /* FF3.6+ */
    background: -o-linear-gradient(top, #d91a12 15%, #e13300 15%, #ff7f14 16%, #f2ab03 32%, #ebc000 32%, #fade00 33%, #efff03 48%, #56fc02 49%, #52ff01 66%, #4ade7e 67%, #3baaf2 67%, #3baaf2 84%, #7337f7 84%, #6b40f2 100%); /* FF3.6+ */
    background: -ms-linear-gradient(top, #d91a12 15%, #e13300 15%, #ff7f14 16%, #f2ab03 32%, #ebc000 32%, #fade00 33%, #efff03 48%, #56fc02 49%, #52ff01 66%, #4ade7e 67%, #3baaf2 67%, #3baaf2 84%, #7337f7 84%, #6b40f2 100%); /* FF3.6+ */
    background: -moz-linear-gradient(top, #d91a12 15%, #e13300 15%, #ff7f14 16%, #f2ab03 32%, #ebc000 32%, #fade00 33%, #efff03 48%, #56fc02 49%, #52ff01 66%, #4ade7e 67%, #3baaf2 67%, #3baaf2 84%, #7337f7 84%, #6b40f2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(15%,#d91a12), color-stop(15%,#e13300), color-stop(16%,#ff7f14), color-stop(32%,#f2ab03), color-stop(32%,#ebc000), color-stop(33%,#fade00), color-stop(48%,#efff03), color-stop(49%,#56fc02), color-stop(66%,#52ff01), color-stop(67%,#4ade7e), color-stop(67%,#3baaf2), color-stop(84%,#3baaf2), color-stop(84%,#7337f7), color-stop(100%,#6b40f2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d91a12 15%,#e13300 15%,#ff7f14 16%,#f2ab03 32%,#ebc000 32%,#fade00 33%,#efff03 48%,#56fc02 49%,#52ff01 66%,#4ade7e 67%,#3baaf2 67%,#3baaf2 84%,#7337f7 84%,#6b40f2 100%); /* Chrome10+,Safari5.1+ */
    animation: rainbow1 0.3s linear 0s infinite;
    -o-animation: rainbow1 0.3s linear 0s infinite;
    -ms-animation: rainbow1 0.3s linear 0s infinite;
    -moz-animation: rainbow1 0.3s linear 0s infinite;
    -webkit-animation: rainbow1 0.3s linear 0s infinite;
}

.rainbow > div.alt {
    animation: rainbow2 0.3s linear 0s infinite;
    -o-animation: rainbow2 0.3s linear 0s infinite;
    -ms-animation: rainbow2 0.3s linear 0s infinite;
    -moz-animation: rainbow2 0.3s linear 0s infinite;
    -webkit-animation: rainbow2 0.3s linear 0s infinite;
}

/* -- stars -- */

@-moz-keyframes star1 {
    0% { top: 0; height: 5px;}
    33.19% { top: 0; height: 5px; }
    33.2% { height:10px; top:0; }
    49.79% { height:10px; top:0; }
    49.8% { height:10px; top:5px; }
    66.39% {height:10px; top:5px; }
    66.4% { height:5px; top:10px;}
    82.99% { height:5px; top:10px;}
    83% { height: 5px; top: 15px; }
    99.99% { height: 5px; top: 15px; }
    100% { top: 0; height: 5px; }
}

@-webkit-keyframes star1{
    0% { top: 0; height: 5px;}
    33.19% { top: 0; height: 5px; }
    33.2% { height:10px; top:0; }
    49.79% { height:10px; top:0; }
    49.8% { height:10px; top:5px; }
    66.39% {height:10px; top:5px; }
    66.4% { height:5px; top:10px;}
    82.99% { height:5px; top:10px;}
    83% { height: 5px; top: 15px; }
    99.99% { height: 5px; top: 15px; }
    100% { top: 0; height: 5px; }
}

@-moz-keyframes star2-3-6-7 {
    0% { visibility: hidden; }
    16.59% { visibility: hidden; }
    16.6% { visibility: visible; }
    33.19% { visibility: visible; }
    33.2% { visibility: hidden; }
    100% { visibility: hidden; }
}

@-webkit-keyframes star2-3-6-7{
    0% { visibility: hidden; }
    16.59% { visibility: hidden; }
    16.6% { visibility: visible; }
    33.19% { visibility: visible; }
    33.2% { visibility: hidden; }
    100% { visibility: hidden; }
}

@-moz-keyframes star4 {
    0% { left: 0; width: 5px; visibility: visible;}
    33.19% { left: 0; width: 5px; }
    33.2% { width:10px; left:0; }
    49.79% { width:10px; left:0; }
    49.8% { width:10px; left:5px; }
    66.39% {width:10px; left:5px; }
    66.4% { width:5px; left:10px;}
    82.99% { width:5px; left:10px;}
    83% { width: 5px; left: 15px; visibility:hidden;}
    99.99% { width: 5px; left: 15px; visibility:hidden;}
    100% { left: 0; width: 5px; visibility:hidden;}
}

@-webkit-keyframes star4 {
    0% { left: 0; width: 5px; visibility: visible;}
    33.19% { left: 0; width: 5px; }
    33.2% { width:10px; left:0; }
    49.79% { width:10px; left:0; }
    49.8% { width:10px; left:5px; }
    66.39% {width:10px; left:5px; }
    66.4% { width:5px; left:10px;}
    82.99% { width:5px; left:10px;}
    83% { width: 5px; left: 15px; visibility:hidden;}
    99.99% { width: 5px; left: 15px; visibility:hidden;}
    100% { left: 0; width: 5px; visibility:hidden;}
}

@-moz-keyframes star5 {
    0% { left: 38px; width: 5px; visibility: visible;}
    33.19% { left: 38px; width: 5px; }
    33.2% { width:10px; left:33px; }
    49.79% { width:10px; left:33px; }
    49.8% { width:10px; left:28px; }
    66.39% {width:10px; left:28px; }
    66.4% { width:5px; left:28px;}
    82.99% { width:5px; left:28px;}
    83% { width: 5px; left: 15px; visibility:hidden;}
    99.99% { width: 5px; left: 15px; visibility:hidden;}
    100% { left: 0; width: 5px; visibility:hidden;}
}

@-webkit-keyframes star5 {
    0% { left: 38px; width: 5px; visibility: visible;}
    33.19% { left: 38px; width: 5px; }
    33.2% { width:10px; left:33px; }
    49.79% { width:10px; left:33px; }
    49.8% { width:10px; left:28px; }
    66.39% {width:10px; left:28px; }
    66.4% { width:5px; left:28px;}
    82.99% { width:5px; left:28px;}
    83% { width: 5px; left: 15px; visibility:hidden;}
    99.99% { width: 5px; left: 15px; visibility:hidden;}
    100% { left: 0; width: 5px; visibility:hidden;}
}

@-moz-keyframes star8 {
    0% { top: 32px; height: 5px; visibility:visible;}
    33.19% { top: 32px; height: 5px; }
    33.2% { height:10px; top:28px; }
    49.79% { height:10px; top:28px; }
    49.8% { height:10px; top:23px; }
    66.39% {height:10px; top:23px; }
    66.4% { height:5px; top:18px;}
    82.99% { height:5px; top:18px;}
    83% { height: 5px; top: 15px; visibility:hidden;}
    99.99% { height: 5px; top: 15px; visibility:hidden;}
    100% { top: 0; height: 5px; visibility:hidden;}
}

@-webkit-keyframes star8 {
    0% { top: 32px; height: 5px; visibility:visible;}
    33.19% { top: 32px; height: 5px; }
    33.2% { height:10px; top:28px; }
    49.79% { height:10px; top:28px; }
    49.8% { height:10px; top:23px; }
    66.39% {height:10px; top:23px; }
    66.4% { height:5px; top:18px;}
    82.99% { height:5px; top:18px;}
    83% { height: 5px; top: 15px; visibility:hidden;}
    99.99% { height: 5px; top: 15px; visibility:hidden;}
    100% { top: 0; height: 5px; visibility:hidden;}
}







@-ms-keyframes star1 {
    0% { top: 0; height: 5px;}
    33.19% { top: 0; height: 5px; }
    33.2% { height:10px; top:0; }
    49.79% { height:10px; top:0; }
    49.8% { height:10px; top:5px; }
    66.39% {height:10px; top:5px; }
    66.4% { height:5px; top:10px;}
    82.99% { height:5px; top:10px;}
    83% { height: 5px; top: 15px; }
    99.99% { height: 5px; top: 15px; }
    100% { top: 0; height: 5px; }
}

@-o-keyframes star1{
    0% { top: 0; height: 5px;}
    33.19% { top: 0; height: 5px; }
    33.2% { height:10px; top:0; }
    49.79% { height:10px; top:0; }
    49.8% { height:10px; top:5px; }
    66.39% {height:10px; top:5px; }
    66.4% { height:5px; top:10px;}
    82.99% { height:5px; top:10px;}
    83% { height: 5px; top: 15px; }
    99.99% { height: 5px; top: 15px; }
    100% { top: 0; height: 5px; }
}

@-ms-keyframes star2-3-6-7 {
    0% { visibility: hidden; }
    16.59% { visibility: hidden; }
    16.6% { visibility: visible; }
    33.19% { visibility: visible; }
    33.2% { visibility: hidden; }
    100% { visibility: hidden; }
}

@-o-keyframes star2-3-6-7{
    0% { visibility: hidden; }
    16.59% { visibility: hidden; }
    16.6% { visibility: visible; }
    33.19% { visibility: visible; }
    33.2% { visibility: hidden; }
    100% { visibility: hidden; }
}

@-ms-keyframes star4 {
    0% { left: 0; width: 5px; visibility: visible;}
    33.19% { left: 0; width: 5px; }
    33.2% { width:10px; left:0; }
    49.79% { width:10px; left:0; }
    49.8% { width:10px; left:5px; }
    66.39% {width:10px; left:5px; }
    66.4% { width:5px; left:10px;}
    82.99% { width:5px; left:10px;}
    83% { width: 5px; left: 15px; visibility:hidden;}
    99.99% { width: 5px; left: 15px; visibility:hidden;}
    100% { left: 0; width: 5px; visibility:hidden;}
}

@-o-keyframes star4 {
    0% { left: 0; width: 5px; visibility: visible;}
    33.19% { left: 0; width: 5px; }
    33.2% { width:10px; left:0; }
    49.79% { width:10px; left:0; }
    49.8% { width:10px; left:5px; }
    66.39% {width:10px; left:5px; }
    66.4% { width:5px; left:10px;}
    82.99% { width:5px; left:10px;}
    83% { width: 5px; left: 15px; visibility:hidden;}
    99.99% { width: 5px; left: 15px; visibility:hidden;}
    100% { left: 0; width: 5px; visibility:hidden;}
}

@-ms-keyframes star5 {
    0% { left: 38px; width: 5px; visibility: visible;}
    33.19% { left: 38px; width: 5px; }
    33.2% { width:10px; left:33px; }
    49.79% { width:10px; left:33px; }
    49.8% { width:10px; left:28px; }
    66.39% {width:10px; left:28px; }
    66.4% { width:5px; left:28px;}
    82.99% { width:5px; left:28px;}
    83% { width: 5px; left: 15px; visibility:hidden;}
    99.99% { width: 5px; left: 15px; visibility:hidden;}
    100% { left: 0; width: 5px; visibility:hidden;}
}

@-o-keyframes star5 {
    0% { left: 38px; width: 5px; visibility: visible;}
    33.19% { left: 38px; width: 5px; }
    33.2% { width:10px; left:33px; }
    49.79% { width:10px; left:33px; }
    49.8% { width:10px; left:28px; }
    66.39% {width:10px; left:28px; }
    66.4% { width:5px; left:28px;}
    82.99% { width:5px; left:28px;}
    83% { width: 5px; left: 15px; visibility:hidden;}
    99.99% { width: 5px; left: 15px; visibility:hidden;}
    100% { left: 0; width: 5px; visibility:hidden;}
}

@-moz-keyframes star8 {
    0% { top: 32px; height: 5px; visibility:visible;}
    33.19% { top: 32px; height: 5px; }
    33.2% { height:10px; top:28px; }
    49.79% { height:10px; top:28px; }
    49.8% { height:10px; top:23px; }
    66.39% {height:10px; top:23px; }
    66.4% { height:5px; top:18px;}
    82.99% { height:5px; top:18px;}
    83% { height: 5px; top: 15px; visibility:hidden;}
    99.99% { height: 5px; top: 15px; visibility:hidden;}
    100% { top: 0; height: 5px; visibility:hidden;}
}

@-o-keyframes star8 {
    0% { top: 32px; height: 5px; visibility:visible;}
    33.19% { top: 32px; height: 5px; }
    33.2% { height:10px; top:28px; }
    49.79% { height:10px; top:28px; }
    49.8% { height:10px; top:23px; }
    66.39% {height:10px; top:23px; }
    66.4% { height:5px; top:18px;}
    82.99% { height:5px; top:18px;}
    83% { height: 5px; top: 15px; visibility:hidden;}
    99.99% { height: 5px; top: 15px; visibility:hidden;}
    100% { top: 0; height: 5px; visibility:hidden;}
}





@keyframes star1 {
    0% { top: 0; height: 5px;}
    33.19% { top: 0; height: 5px; }
    33.2% { height:10px; top:0; }
    49.79% { height:10px; top:0; }
    49.8% { height:10px; top:5px; }
    66.39% {height:10px; top:5px; }
    66.4% { height:5px; top:10px;}
    82.99% { height:5px; top:10px;}
    83% { height: 5px; top: 15px; }
    99.99% { height: 5px; top: 15px; }
    100% { top: 0; height: 5px; }
}

@keyframes star2-3-6-7 {
    0% { visibility: hidden; }
    16.59% { visibility: hidden; }
    16.6% { visibility: visible; }
    33.19% { visibility: visible; }
    33.2% { visibility: hidden; }
    100% { visibility: hidden; }
}

@keyframes star4 {
    0% { left: 0; width: 5px; visibility: visible;}
    33.19% { left: 0; width: 5px; }
    33.2% { width:10px; left:0; }
    49.79% { width:10px; left:0; }
    49.8% { width:10px; left:5px; }
    66.39% {width:10px; left:5px; }
    66.4% { width:5px; left:10px;}
    82.99% { width:5px; left:10px;}
    83% { width: 5px; left: 15px; visibility:hidden;}
    99.99% { width: 5px; left: 15px; visibility:hidden;}
    100% { left: 0; width: 5px; visibility:hidden;}
}

@keyframes star5 {
    0% { left: 38px; width: 5px; visibility: visible;}
    33.19% { left: 38px; width: 5px; }
    33.2% { width:10px; left:33px; }
    49.79% { width:10px; left:33px; }
    49.8% { width:10px; left:28px; }
    66.39% {width:10px; left:28px; }
    66.4% { width:5px; left:28px;}
    82.99% { width:5px; left:28px;}
    83% { width: 5px; left: 15px; visibility:hidden;}
    99.99% { width: 5px; left: 15px; visibility:hidden;}
    100% { left: 0; width: 5px; visibility:hidden;}
}

@keyframes star8 {
    0% { top: 32px; height: 5px; visibility:visible;}
    33.19% { top: 32px; height: 5px; }
    33.2% { height:10px; top:28px; }
    49.79% { height:10px; top:28px; }
    49.8% { height:10px; top:23px; }
    66.39% {height:10px; top:23px; }
    66.4% { height:5px; top:18px;}
    82.99% { height:5px; top:18px;}
    83% { height: 5px; top: 15px; visibility:hidden;}
    99.99% { height: 5px; top: 15px; visibility:hidden;}
    100% { top: 0; height: 5px; visibility:hidden;}
}





.star {
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 10;
}

.star div {
    width: 5px;
    height: 5px;
    background-color: #fff;
    position: absolute;
    animation: star1 0.4s linear 0s infinite;
    -o-animation: star1 0.4s linear 0s infinite;
    -ms-animation: star1 0.4s linear 0s infinite;
    -moz-animation: star1 0.4s linear 0s infinite;
    -webkit-animation: star1 0.4s linear 0s infinite;
}

.star div[number="1"] {
    left: 18px;
    top: 0;
}

.star div[number="2"] {
    left: 8px;
    top: 6px;
    visibility: hidden;
    animation-name: star2-3-6-7;
    -o-animation-name: star2-3-6-7;
    -ms-animation-name: star2-3-6-7;
    -moz-animation-name: star2-3-6-7;
    -webkit-animation-name: star2-3-6-7;
}

.star div[number="3"] {
    left: 30px;
    top: 6px;
    visibility: hidden;
    animation-name: star2-3-6-7;
    -o-animation-name: star2-3-6-7;
    -ms-animation-name: star2-3-6-7;
    -moz-animation-name: star2-3-6-7;
    -webkit-animation-name: star2-3-6-7;
}

.star div[number="4"] {
    left: 0px;
    top: 16px;
    animation-name: star4;
    -o-animation-name: star4;
    -ms-animation-name: star4;
    -moz-animation-name: star4;
    -webkit-animation-name: star4;
}

.star div[number="5"] {
    left: 38px;
    top: 16px;
    animation-name: star5;
    -o-animation-name: star5;
    -ms-animation-name: star5;
    -moz-animation-name: star5;
    -webkit-animation-name: star5;
}

.star div[number="6"] {
    left: 8px;
    top: 26px;
    visibility: hidden;
    animation-name: star2-3-6-7;
    -o-animation-name: star2-3-6-7;
    -ms-animation-name: star2-3-6-7;
    -moz-animation-name: star2-3-6-7;
    -webkit-animation-name: star2-3-6-7;
}

.star div[number="7"] {
    left: 30px;
    top: 26px;
    visibility: hidden;
    animation-name: star2-3-6-7;
    -o-animation-name: star2-3-6-7;
    -ms-animation-name: star2-3-6-7;
    -moz-animation-name: star2-3-6-7;
    -webkit-animation-name: star2-3-6-7;
}

.star div[number="8"] {
    left: 18px;
    top: 32px;
    animation-name: star8;
    -o-animation-name: star8;
    -ms-animation-name: star8;
    -moz-animation-name: star8;
    -webkit-animation-name: star8;
}

@-moz-keyframes starMovement1 {
    0% { top: 27%; left: 120%}
    100% { top: 27%; left: 0px;}
}

@-webkit-keyframes starMovement1 {
    0% { top: 27%; left: 120%}
    100% { top: 27%; left: 0px;}
}

@-ms-keyframes starMovement1 {
    0% { top: 27%; left: 120%}
    100% { top: 27%; left: 0px;}
}

@-o-keyframes starMovement1 {
    0% { top: 27%; left: 120%}
    100% { top: 27%; left: 0px;}
}

@keyframes starMovement1 {
    0% { top: 27%; left: 120%}
    100% { top: 27%; left: 0px;}
}

.starMovement1 {
    animation: starMovement1 3s linear 0s infinite;
    -o-animation: starMovement1 3s linear 0s infinite;
    -ms-animation: starMovement1 3s linear 0s infinite;
    -moz-animation: starMovement1 3s linear 0s infinite;
    -webkit-animation: starMovement1 3s linear 0s infinite;
}
@-ms-keyframes starMovement2 {
    0% { top: -3.33%; left: 160%}
    100% { top: -3.33%; left: -20%;}
}

@-o-keyframes starMovement2 {
    0% { top: -3.33%; left: 160%}
    100% { top: -3.33%; left: -20%;}
}

@keyframes starMovement2 {
    0% { top: -3.33%; left: 160%}
    100% { top: -3.33%; left: -20%;}
}

@-moz-keyframes starMovement2 {
    0% { top: -3.33%; left: 160%}
    100% { top: -3.33%; left: -20%;}
}

@-webkit-keyframes starMovement2{
    0% { top: -3.33%; left: 160%}
    100% { top: -3.33%; left: -20%;}
}

.starMovement2 {
    animation: starMovement2 4.5s linear 0s infinite;
    -o-animation: starMovement2 4.5s linear 0s infinite;
    -ms-animation: starMovement2 4.5s linear 0s infinite;
    -moz-animation: starMovement2 4.5s linear 0s infinite;
    -webkit-animation: starMovement2 4.5s linear 0s infinite;
}

@keyframes starMovement3 {
    0% { top: 90%; left: 145.6%}
    100% { top: 90%; left: -34.4%;}
}
@-o-keyframes starMovement3 {
    0% { top: 90%; left: 145.6%}
    100% { top: 90%; left: -34.4%;}
}
@-ms-keyframes starMovement3 {
    0% { top: 90%; left: 145.6%}
    100% { top: 90%; left: -34.4%;}
}
@-moz-keyframes starMovement3 {
    0% { top: 90%; left: 145.6%}
    100% { top: 90%; left: -34.4%;}
}

@-webkit-keyframes starMovement3 {
    0% { top: 90%; left: 145.6%}
    100% { top: 90%; left: -34.4%;}
}

.starMovement3 {
    animation: starMovement3 4.5s linear 0s infinite;
    -o-animation: starMovement3 4.5s linear 0s infinite;
    -ms-animation: starMovement3 4.5s linear 0s infinite;
    -moz-animation: starMovement3 4.5s linear 0s infinite;
    -webkit-animation: starMovement3 4.5s linear 0s infinite;
}

@keyframes starMovement4 {
    0% { top: 53.3%; left: 460%}
    100% { top: 53.3%; left: -20%;}
}
@-ms-keyframes starMovement4 {
    0% { top: 53.3%; left: 460%}
    100% { top: 53.3%; left: -20%;}
}
@-o-keyframes starMovement4 {
    0% { top: 53.3%; left: 460%}
    100% { top: 53.3%; left: -20%;}
}
@-moz-keyframes starMovement4 {
    0% { top: 53.3%; left: 460%}
    100% { top: 53.3%; left: -20%;}
}

@-webkit-keyframes starMovement4 {
    0% { top: 53.3%; left: 460%}
    100% { top: 53.3%; left: -20%;}
}

.starMovement4 {
    animation: starMovement4 12s linear 0s infinite;
    -ms-animation: starMovement4 12s linear 0s infinite;
    -o-animation: starMovement4 12s linear 0s infinite;
    -moz-animation: starMovement4 12s linear 0s infinite;
    -webkit-animation: starMovement4 12s linear 0s infinite;
}

@keyframes starMovement5 {
    0% { top: 43.3%; left: 220%}
    100% { top: 43.3%; left: -20%;}
}
@-ms-keyframes starMovement5 {
    0% { top: 43.3%; left: 220%}
    100% { top: 43.3%; left: -20%;}
}
@-o-keyframes starMovement5 {
    0% { top: 43.3%; left: 220%}
    100% { top: 43.3%; left: -20%;}
}
@-moz-keyframes starMovement5 {
    0% { top: 43.3%; left: 220%}
    100% { top: 43.3%; left: -20%;}
}

@-webkit-keyframes starMovement5 {
    0% { top: 43.3%; left: 220%}
    100% { top: 43.3%; left: -20%;}
}

.starMovement5 {
    animation: starMovement5 6s linear 0s infinite;
    -o-animation: starMovement5 6s linear 0s infinite;
    -ms-animation: starMovement5 6s linear 0s infinite;
    -moz-animation: starMovement5 6s linear 0s infinite;
    -webkit-animation: starMovement5 6s linear 0s infinite;
}
/* -- rest -- */

#nyanCat {
    position: absolute;
    left: 35%;
    top: 50%;
    margin-top: -70px;
}

#mainContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow:hidden;

}

#description {
    position: absolute;
    top: 370px;
}

#muted-status {
    position: fixed;
    bottom: 8px;
    right: 8px;
    cursor: pointer;
}

#credits {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 8px;
}